.env
*.pyc
__pycache__/
db.sqlite3
/static/
/media/
/*.log
*.pot
*.py[cod]
*.sqlite3
*.db
*.pyo
*.pyd
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.egg-info/
dist/
build/
.env.*
local_settings.py
node_modules/
coverage.xml
htmlcov/
*.cover
*.mo
*.orig
*.bak
*.tmp
*.lock
celerybeat-schedule
*.pid
*.sass-cache/
*.cache
*.tox/
*.pytest_cache/
*.migrations/
venv/